*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-color: #f5fcf4;
}

.wrapper{
    width: 100%;
}
.header{
    height: 90px;
    width: 1349px;
    max-width: 100%;
    background-color: #f5fcf4;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.header__navbar{
    height: 46px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 46px;
    margin-top: 5px;
}
.header-logo{
    width: 93px;
    height: 46px;
    float: left;
}
.header-logo-img{
    width: 100%;
    height: 100%;
}
.header-menu{
    float: right;
    height: 46px;
    width: 530px;

}

.header-menu-iteam{
    display: inline-block;
    align-items: center;
}

.header-menu-iteam:first-child{
    margin-left: 10px;
}
.header-menu-iteam:not(:first-child){
    margin-left: 30px;
}
.header-menu-iteam:not(:last-child):hover > a{
    color: #26643b;
}
.header-menu-link{
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    color: #3f3c3c;
    font-family: 'Poppins',sans-serif;
}
.book-link{
    text-align: center;
    display:inline-block;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    border-radius: 8px;
    width: 150px;
    height: 45px;
    padding: 13px 20px;
    background-color: #26643b;
    font-family: 'Poppins',sans-serif;

}
#header__menu-bars{
    color: #3b413a;
    width: 32px;
    height: 30px;
    float: right;
    display: none;    
}
#header__menu-bars svg{
    width: 30px;
    height: 30px;
}
#header__menu-overlay{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    /* display: none; */
    opacity: 0;
    pointer-events: none;
}
#header__mobile-menu{
    position: fixed;
    top:0;
    bottom: 0;
    right: -100%;
    /* display: none; */
    opacity: 0;
    pointer-events: none;
    background-color: #d6e5d8;
}
.header-menu-list-mobile{
    margin-top: 200px;
    float: right;
}
.header-menu-mobile-iteam-mobile{
    text-align: right;
    margin-right: 40px;
}
.nav-close-btn{
    position: absolute;
    color: #666;
    display: block;
    top:1rem;
    right: 1rem;
    color: #3b413a;
    width: 32px;
    height: 30px;
}
.nav-close-btn svg{
    width: 30px;
    height: 30px;
}
.header-menu-link-mobile{
    font-size: 18px;
    font-family: 'Poppins',sans-serif;
    color: #3b413a;
    font-weight: 400;
}
.book-link-mobile{
    width: 128px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    font-weight: 500;
    color: #fff;
    border-radius: 8px;
    background-color: #26643b;
    font-family: 'Poppins',sans-serif;
}
/*Tablet*/
@media only screen and (min-width:740px) and (max-width:1023px){
    /* body{
        overflow-x: hidden;
    } */
    #header__menu-bars{
        display: block;
    }
    .header-menu{
        display: none;
    }
    #header__mobile-menu{
        opacity: 0;
        width: 80%;
    }
    #header__mobile-menu.active {

        transition: all .3s ease-in;
        opacity: 1;
        pointer-events: all;
        right: 0;
    }
    #header__menu-overlay{
        opacity: 0;
    }
    #header__menu-overlay.active {
        opacity: 1;
        pointer-events: all;
    }

}
/*Mobile*/
@media only screen and (max-width:739px){
    /* body{
        overflow-x: hidden;
    } */
    #header__menu-bars{
        display: block;
        
    }
    .header-menu{
        display: none;
    }
    #header__mobile-menu{
        width: 80%;
        opacity: 0;
    }
    #header__mobile-menu.active {
        opacity: 1;
        transition: all .3s ease-in;
        right: 0;
        pointer-events: all;
    }

    #header__menu-overlay{
        opacity: 0;
    }
    #header__menu-overlay.active {
        opacity: 1;
        pointer-events: all;
    }
}

