*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body,
footer,
div,
h3,
h4,
p,
a,
ol,
ul,
li,
form,
label,
section,
i
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
:focus {
	outline: 0;
}
footer,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,ul {
	list-style: none;
}

textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
html {
	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%; 
}
a:focus {
	outline: thin dotted;
}
a:active,
a:hover {
	outline: 0;
}
form {
	margin: 0;
}
html,
button,
input,
select,
textarea {
	font-size: 100%; 
	margin: 0; 	
	vertical-align: baseline; 
	*vertical-align: middle;
}
button,
input {
	line-height: normal;
}
button,
select {
	text-transform: none;
}
textarea {
	overflow: auto; /* 1 */
	vertical-align: top; /* 2 */
    resize: vertical;
}
html,
button,
input,
select,
textarea {
	color: #222;
}
textarea {
	overflow: auto; /* 1 */
	vertical-align: top; /* 2 */
}
/* textarea {
	resize: vertical;
} */
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
	*overflow: visible; /* 4 */
}
img {
	vertical-align: middle;
}
textarea {
	resize: vertical;
}

