*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-image: url("https://img5.thuthuatphanmem.vn/uploads/2021/11/07/100-hinh-anh-do-an-cute-de-thuong-cuc-dep_113040611.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(128, 128, 128, 0.801);
}
.admin__home{
    border-bottom: 3px solid #333;
}
#admin__nav-home{
    background-color: rgba(128, 128, 128, 0.801) !important;
}
.nav-link{
    color: 	#B0E0E6 !important;
    font-size: 18px !important;
    font-family: "Poppins",sans-serif;
}
.nav-item{
    margin-left: 10px;
}

.nav-item:hover > a{
    color: 	#87CEFA !important;
}
.content__admin-home{
    width: 100%;
    height: 89vh;
    background-color: rgba(128, 128, 128, 0.801);
}
.content__admin-img{
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
}
.container{
    background-color: rgba(196, 193, 193, 0.801);
    border: none solid black;
    margin: auto;
}
.table{
    margin-top: 155px;
}
.button{
    margin: auto;
    text-align: center;
    background-color: none;
    color: white;
}