*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-image: url("https://img5.thuthuatphanmem.vn/uploads/2021/11/07/100-hinh-anh-do-an-cute-de-thuong-cuc-dep_113040611.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#admin-login{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}
#form-login{
    background-color:rgba(169, 169, 169, 0.714);
    box-shadow:25px 25px #fff;
    max-width: 450px;
    padding: 40px 40px 40px;
    border-radius: 12px;
    flex-grow: 1;
}
.img-logo{
    width: 93px;
    height: 46px;
    margin: 0 auto;
}
.img-logo-icon{
    width: 100%;
    height: 100%;
}
.form-group{
    border-bottom: 1px solid #fff;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
}
.form-group i{
    color:#fff;
    font-size:14px;
    padding-top:5px;
    padding-right: 10px;
}
.form-input{
    border:0;
    outline:0;
    color:#f5f5f5;
    background:transparent; 
    flex-grow: 1;
}
.form-input::placeholder{
    font-size: 14px;
    color:#fff;
}
#eye i{
    padding-right: 0;
    cursor: pointer;
}
#login{
    text-align: center;
    margin-top: 40px;
}
.login-link{ 
    padding: 10px 150px;  
    background-color:#48D1CC;
    border-radius: 20px;
    color: #f5f5f5;
    text-transform: uppercase;
}